/*Reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	text-decoration: none;
}
/*========CUSTOM CSS ÄETAIL========*/

/*BODY CSS*/
body{
	background-image: url("../images/background.png");
	font-family: 'Open Sans', sans-serif;
}

#main-wrapper{
	width:100%;
}

/*HEADER CLIENT CSS*/
#mega-header{
	font-size: 14px;
	font-weight: 600;
	width:100%;
}

.topbar{
	background: #e5a813;
	height:47px;
	width:100%;
}

.topbar-content{
	margin: 0 auto;
	width:1140px;
}

.topbar-left{
	float:left;
	margin-left: 40px;
}

.menu-item{
	line-height: 47px;
}

ul.clearfix{
	overflow: hidden;
}

ul.clearfix li{
	float: left;
	padding-right: 25px;
}

ul.clearfix li:nth-child(2){
	margin-top: 5px;
}
ul.clearfix li a{
	color:black;
	display: block;

}

ul.clearfix li a:hover{
	color:#f1f1f1;
	text-decoration: none;
}

.img-home{
	background: url("../images/img-home.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
	position: relative;
	top:5px;
}

ul.clearfix li.res-toggle{
	display:none;
}

ul.clearfix li:first-child a i{
	margin-left: 10px;
}
ul.clearfix li:first-child a i{
	margin-left: 10px;
}
.img-youtube{
	background: url("../images/img-youtube.png") no-repeat;
	width:31px;
	height:31px;
	display:inline-block;
	position: relative;
	top:8px;
	margin-left: 30px;
}

.img-facebook{
	background: url("../images/img-facebook.png") no-repeat;
	width:31px;
	height:31px;
	display:inline-block;
	position: relative;
	top:6px;
	margin-left:-20px;
}
ul.clearfix li:nth-child(8){
	padding-right: 5px;
}

/*USER CLIENT AREA */
.topbar-right{
	margin-right: 20px;
	float:top;
}
.user-area ul li:first-child{
	margin-right: 20px;
}
.user-area ul li{
	display:inline-block;
	line-height: 47px;
}
.user-area ul li{
	display:inline-block;
	line-height: 47px;
	margin-right: 10px;
}

.user-area ul li a{
	color:black;
}

.user-area ul li a:hover{
	color:white;
}
.user-area{
}
/*MENU CLIENT CSS*/
#header-content{
	margin:0 auto;
	width:1140px;
	color : #fff;
	height: 135px;
}

.header-left{
	float: left;
	width: 30%;
	margin-top: 20px;
}

.header-left a img{
	margin-left: 30px;
}
.header-right{
	float:right;
	width: 70%;
}

.header-right  ul{
	padding:0;
	margin: 0!important;
}

.header-right > ul li{
	float:left;
	list-style: none;
	padding: 10px 0 15px 20px;
	line-height: 110px;
}

.header-right > ul li a{
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
	color:#fff;
	outline: none;
}

.header-right > ul li a:hover{
	color:#f1c40f;
}

.header-right  ul li a i.item-phim{
	width: 32px;
	height:32px;
	background: url("../images/phim.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

.header-right  ul li a i.item-lich{
	width: 32px;
	height:32px;
	background: url("../images/lich.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

.header-right  ul li a i.item-uudai{
	width: 32px;
	height:32px;
	background: url("../images/uudai.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

.header-right  ul li a i.item-rap{
	width: 32px;
	height:32px;
	background: url("../images/ve.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}
/*FOOTER CLIENT CSS*/


/*MEDIA RESPONSIVE PC first*/
 @media (max-width: 1920px){
	/*top area*/
	/*user area*/
	/*navigation area*/
 }

 @media (max-width: 1366px){
	/*top area*/
	/*user area*/
	/*navigation area*/
 }

 @media (max-width: 1280px){
	/*top area*/
	/*user area*/
	/*navigation area*/
 }

 @media (max-width: 1024px){
 	/*top bar*/
	div.topbar-content{
		margin: 0 auto;
	}
	#header-content{
		margin: 0 auto;
	}
	.topbar-left{
		margin-left: 30px;
		width: 70%;		
	}

	/*user area*/
	.topbar-right{
		position: absolute;
		margin-left: 55%;
	}

	/*navigation area*/
	.header-left{
		width:20%!important;
		float:left;
	}	
	.header-right {
		width:80%;
	}
	.header-right > ul li a{
		font-size: 20px;
	}
 }

 @media (max-width: 800px){
	/*top area*/
	/*user area*/
	/*navigation area*/
	.header-left{
		width:100%!important;
		float:left;
	}	
	.header-left a img {
		margin-left: 250px!important;
	}
	.header-right {
		width:60%;
	}
	.header-right > ul li a{
		font-size: 22px;
	}
 }

 @media (max-width: 768px){
	/*top area*/
	/*old design*/
	ul.clearfix li:not(:first-child){
		display: none;
	}

	ul.clearfix li.res-toggle{
		float:left;
		display:inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		clear: both;
	}
	/*user area*/
	.topbar-right{
		position: absolute;
		margin-left: 50%;
	}


	.topbar-left{
		margin-left: 0px;
		width: 100%;
	}

	/*end old design*/
	ul.clearfix.responsive-topbar{
		position:relative;		
		width: 100%;
		-webkit-box-shadow: 0 8px 6px -6px #F27935;
	   -moz-box-shadow: 0 8px 6px -6px #F27935;
	    box-shadow: 0 8px 6px -6px #F27935;
}
	}
	
	ul.clearfix.responsive-topbar li{
		display: block;
		float:none;
	}
	ul.clearfix.responsive-topbar li a {
   	 	display: block;
    	text-align: left;
  	}
	
	
	/*user area*/
	/*navigation area*/
	.header-left{
		width: 30%;
	}
	.header-left img{
		display: block;
		margin-left: 250px;
	}
	.header-right{
		float:left;		
		margin-right: auto;
	}
	.header-right ul{
		height: 138px;
		margin-left: 40px!important;
	}

	/*style drop down menu*/
	ul.clearfix.responsive-topbar li:not(:first-child){
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
		background-color: #F5D76E;
	}
	ul.clearfix.responsive-topbar li:nth-child(2){
		display: none;
	}
	ul.clearfix.responsive-topbar li:first-child {
		margin-bottom: 15px;
	}
	ul.clearfix.responsive-topbar li:not(:first-child):hover{
		background-color: #F4D03F;
	}
	ul.clearfix.responsive-topbar li:not(:first-child):hover a{
		color:black;
	}
	ul.clearfix.responsive-topbar li:nth-child(9) a{
		float:left;
		display: inline;
	}
 }

 @media (max-width: 360px){
	/*top area*/
	/*old design*/
	ul.clearfix li:not(:first-child){
		display: none;
	}
	ul.clearfix li.res-toggle{
		float:left;
		display:inline-block;
	}
	/*user area*/
	.topbar-right{
		position: absolute;
		margin-left: 40%;
	}


	.topbar-left{
		margin-left: 30px;
		width: 100%;

	}

	/*end old design*/
	ul.clearfix.responsive-topbar{
		position:relative;
		
	}
	ul.clearfix.responsive-topbar li.res-toggle{
		position: absolute;
		margin-left: 10px;
	}
	ul.clearfix.responsive-topbar{
		margin-left: 10px;
	}
	ul.clearfix.responsive-topbar li:not(:first-child){
		display: inline-block;
		float:none;
		margin-left: 10px;
	}
	ul.clearfix.responsive-topbar li a {
   	 	display: block;
    	text-align: left;
  	}
	/*user area*/
	/*navigation area*/
	.header-left{
		width: 100%;
		margin:  0 auto;
	}
	.header-right{
		float:left;
	}
 }

 @media (max-width: 320px){
	/*top area*/
	/*user area*/
	/*navigation area*/
 }